@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-regular.ttf);
}
@font-face {
    font-family: Lato-light;
    src: url(fonts/Lato/Lato-Light.ttf);
}
@font-face{
    font-family: Dosis;
    src : url(fonts/Dosis/Dosis-ExtraLight.ttf);
}

body{
    background-color: whitesmoke; 
    /* background-image:linear-gradient(-30deg, #00ffff 10%, #8bff81 50%, #ffffff); */
    min-height: 100%;
    min-width: 98%;
    font-family: Lato;
}
.title h2{
    line-height: .1em;
    margin-bottom:.4em;
    font-size: 3em;
}
.title{
    border-bottom:10px solid rgb(142, 159, 187);
    font-family: Lato-light;
    letter-spacing: .3em;
    padding: 20px 10px;
    padding-top: 10%;
    padding-left: 8%;
    font-size: 1.5em;
    position: absolute;
    top: 0px;
    width:91.3%;
    left: 0px;
    color:white;
    background-color:rgb(185, 224, 214); 
     background-image:url(../images/logo.png), url(../images/right-bg.png), url(../images/left-bg.png);
    background-position: right, top right, bottom left;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0 !important;
    box-shadow: 0px 0px 15px #000000b6;
}
.content table.table{
    width: 100%;
}
.content table.table th{
    letter-spacing: .3em;
    font-family: Dosis;
    /* font-weight: lighter; */
    padding:10px 5px;
    color: #22292F;
    background-color: #22C6F6;
}
.content table.table td{
    padding: 5px 10px;
    height:70px;
}
.content table.table tr:nth-child(even){
    background: #365cad;
}
.title .sub-title{
    color: #444444;
    font-weight: bold;
}
.content{
    position: relative;
    margin-top:30%;    
    width: 80%;
    margin-left: 8%;

}
.panel{
    background-color: #558BFD;
    padding:10px;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000a2;
    color: white;
}
.footer{
    box-shadow: 0px 0px 15px #000000b6;
    border-top:10px solid #8E9FBB;
    background: #A6DDE0;
    background-image: url(../images/bottom-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 120px;
    position: absolute;
    width:100%;
    margin-top: 20%;
    left: 0;
    padding-top: 15%;
}
.footer p{
    text-align: center;
    font-family: Lato-light;
    font-size: .8em;
    color: #222222;
    font-weight: bold;
}
.input-group, .btn{
    background: #558BFD;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000000a2;
    position: relative;
}
.btn:hover{
    background: #22C6F6;
    cursor: pointer;
}
.btn[disabled]{
    background-color: #333;
}
.small{
    font-size: .9em !important;
}
.btn{
    text-decoration: none;
    padding: 10px ;
    border: none;
    color: whitesmoke;
    font-size: 1.2em;
    margin-left:2%;
}
.input-group label{
    color: #ffffff;
    line-height: 1.7em;
}
.input-group input{
  
   
    width:50%;
    margin-left: 10px;
    border-radius: 10px;
    color: #558BFD;
    float: right;
}
input{
    background: whitesmoke;
    border: 1px solid #4278e8;
    height: 2em;
    font-size: .9em;
    padding: 0px 10px;
    width:98%;
}
/* input[type=file]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
} */
.file-input-label:hover{
    cursor: pointer;
}
.file-input-label{
    width: 100%;
    overflow: hidden;
    background: whitesmoke;
    color: #333 !important;
    display: block;
    height: 100%;
    padding: 2px;
    border-radius: 10px;
}
.row{
    margin-bottom: 20px;
    display: inline-block;
    width:98%;
}
.col-2, .col-3, .col-4{
    position: relative;
}
.col-2{
    width:9%;
    margin-left: 2%;
    float: left;
}
.col-3{
    width:22%;
    margin-left: 2%;
    float: left;
}
.col-4{
    width:30%;
    margin-left: 2%;
    float: left;
}
.notification{
    position: fixed;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #000000b6;
    padding:5px 15px;
    top:5%;
    right: 2%;
    background: #000000a2;
    z-index: 100;
}
.success{
    background: #43ff6c;
}
.error{
    background: #ff4545;
}

.notif-title{
    font-weight: bold;
    color: #333333;
}
.error .notif-title{
    color: #ffffff;
}
.notification.success .notif-content{
    color:rgb(50, 77, 46);
    padding:3px 10px;
}
ul.pagination{
    list-style: none;
}
ul.pagination li{
    display: inline-block;
}
ul.pagination li a{
    height: 20px;
    width: 25px;
    background: #ffffff;
    color: #365CAD;
    margin-left:5px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
ul.pagination li a.active{
    background:#365CAD;
    color: #ffffff;
}
table.table tr:last-child{
    background-color:transparent !important;
}
.modal{
   height: 100%;
   position: fixed;
   top:0;
   left:0;
   width:100%;
   background-color: #000000a1;
   z-index:99;
   display: none;
}
.modal .container{
    max-height:89%;
    overflow: scroll;
    width:78%;
    margin:5%;
    position: relative;
    background-color: whitesmoke;
    box-shadow: 0px 0px 15px #000000b6;
    padding:2% 5%;
}
.responsive{
    overflow: auto;
}
@media only screen and (min-width: 1013px) {
    .col-3{
        width:20%;
    }
}
@media only screen and (min-width: 600px) and (max-width:1012px) {
    .col-2, .col-3, .col-4{
        margin-top:2%;
        width:98%;
    }
    .btn{
        margin-top:10px;
        display: block;
        width:90%;
        text-align: center;
        margin-left: 8%;
    }
    .content{
        margin-top: 35%;
    }
}
@media only screen and  (max-width:599px) {
    .btn{
        margin-top:10px;
        display: block;
        width:90%;
        text-align: center;
        margin-left: 8%;
    }   
    .col-2, .col-3, .col-4{
        margin-top:2%;
        width:98%;
    }
    body{
        width:100%;
    }
    .title{
        width:115%;
        margin-left:0;
    }
    .footer{
        width: 125%;
    }
    .content{
        margin-top: 50%;
    }
    .panel{
        width:130%;
        margin-left: 0;
    }
}